.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  line-height: 96%;
  text-align: right;
  color: #fff;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}
.header__lang-link:hover {
  opacity: 0.8;
}
@media screen and (max-width: calc(768px - ((768px - 320px) / 2))) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
    line-height: 92%;
  }
}
