.cover__link {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  aspect-ratio: 16/10;
  width: 100%;
  height: 100%;
  color: #fff;
  margin: 0 auto;
  padding: 0;
  transition: 0.3s ease-out;
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cover__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(42, 44, 47, .8);
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.cover__link:hover::before {
  opacity: 0.8;
}
