.body {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #2a2c2f;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
