.places {
  max-width: 984px;
  margin: 0 auto 92px auto;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 1250px) {
  .places {
    max-width: 984px;
  }
}
@media screen and (max-width: 950px) {
  .places {
    max-width: 720px;
    margin: 0 0 90px 0;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 100%;
    margin: 0 0 66px 0;
  }
}
