.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0 ;
    padding: 0;
    max-width: 360px;
}

@media screen  and (max-width: 760px) {
    .cover__subtitle {
        font-size: 16px;
        line-height: 18px;
}
}
@media screen  and (max-width: 550px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
}
}
