.footer__link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #fff;
  transition: 0.4s ease-in-out;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 760px) {
  .footer__link {
      font-size: 24px;
      line-height: 24px;
  }
}