.place__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  padding: 0;
  margin: 0 0 26px 0;
  box-sizing: border-box;
}
.place__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 1023) {
  .place__paragraph {
    max-width: 352px;
    margin: 0 0 25px 0;
    
  }
  .place__paragraph:last-child {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: 484px;
    width: 100%;
    margin: 0 auto 26px auto;
    padding-left: 16px;
    padding-right: 16px;
    align-self: center;
    font-size: 16px;
    line-height: 26px;
  }
}
