.place__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  padding: 0;
  margin: 0 0 26px 0;
  box-sizing: border-box;
}
.place__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 1023) {
  .place__paragraph {
    margin: 0 0 25px 0;
    font-size: 16px;
  }
}
