.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 760px) {
  .footer__copyright {
    line-height: 14px;
    align-items: center;
    
  }
}
