.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  vertical-align: top;
  max-width: 640px;
  margin: 0 auto 64px;
  padding: 0;
}

@media screen and (max-width: calc(1280px - ((1280px - 1024px) / 2))) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (max-width: 700px) {
  .lead__subtitle {
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
  }
}
