.cover {
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  margin: 92px auto 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .cover {
    min-height: 640px;
  }
}
@media screen and (max-width: 1023px) {
  .cover {
    min-height: 480px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 748px) {
  .cover {
    min-height: 200px;
    margin-top: 66px;
  }
}
