.cover {
  max-width: 1184px;
  width: 100%;
  padding: 92px 0 0 0;
  margin: 0 auto;
  background-size: cover;
  background-repeat:no-repeat ;
  align-items: center;
  justify-content: center;

  }

@media screen and (max-width: 850px) {
  .cover {
    margin: 0 auto 88px auto;
  }
}

@media screen and (max-width: 748px) {
  .cover {
    padding: 66px 0 0 0;
  }
}
