.place__link {
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  margin: 0;
  padding: 0;
  transition: 0.4s ease-in-out;
}

.place__link:hover {
  opacity: 0.8;
}
