.place__link {
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  margin: 0;
  padding: 0;
  transition: 0.4s ease-in-out;
  
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .place__link {
  margin: 0 16px 0 16px;
  }
}