.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0 auto 32px auto;
  padding: 0;
  max-width: 560px;
  position: relative;
  z-index: 1;
 
}


@media(width < 1024px) {
  .cover__title {
    font-size: 45px;
  }
} 

@media screen and (max-width: 760px) {
  .cover__title {
    font-size: 72px;
    line-height: 765px;
    margin: 0 auto 24px auto;
  }
}
@media screen and (max-width: 550px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    margin: 0 auto 16px auto;
  }
}
