.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 48px 24px 48px;
  padding: 92px 0 0 0;
  max-width: 1184px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1279px) {
  .footer {
    margin: 0 48px 24px 48px;
    
  } 
  
}

@media screen and (max-width: 1023px) {
  .footer {
    margin: 0 auto 24px auto;
    padding-top: 88px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    margin: 64px auto 24px 0;
    padding: 0 0 0 16px;
  }
}
