.place__link-location {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaa;
  padding: 0;
  margin: 0 0 12px 0;
}

@media screen and (max-width: 320px) {
  .place__link-location {
  margin: 0 16px 0 16px;
  }
}