.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  max-width: 690px;
  margin: 0 0 40px 0;
  padding: 0;
}
@media screen and (max-width: 950px) {
  .intro__title {
    max-width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
